version: 2.1

jobs:
  build-and-test:
    machine: true
    resource_class: mzelzoghbi/iphone-farm-1
    steps:
      - checkout

      - run:
          name: List connected devices
          command: xcrun xctrace list devices

      - run:
          name: Build app
          command: |
            xcodebuild build-for-testing \
              -project test.xcodeproj \
              -scheme test \
              -destination 'generic/platform=iOS' \
              -configuration Debug

      - run:
          name: Run UI tests on physical device
          command: |
            xcodebuild test-without-building \
              -project test.xcodeproj \
              -scheme test \
              -destination 'platform=iOS,name=iPhone' \
              -configuration Debug \
              -resultBundlePath TestResults

      - store_test_results:
          path: TestResults

      - store_artifacts:
          path: TestResults
          destination: test-results

workflows:
  build-test:
    jobs:
      - build-and-test
